 body{
 
                margin:0;
                padding:0;
                box-sizing:border-box;
 
            }
 
            input:focus, textarea:focus, button:focus, select:focus {
 
                outline:none;
 
            }
			
.flex-container {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
flex-direction: column;
justify-content: flex-start;
background:  	#FFE4C4;
width: 1300px;
height:5000px;

}

.flex-header{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;

justify-content: flex-start;
background:  	yellow;
width: 1300px;
height:50px;
margin-top:-10px;
}

.flex-content1{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	aqua;
width: 500px;
height:200px;
margin-left:440px;

}

.flex-str1 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	red;
flex-direction: column;
width: 1300px;
height:300px;

}

.flex-str2 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
justify-content: center;
background:  	green;
width: 1300px;
height:300px;

}

.flex-content2{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	orange;
width: 130px;
height:150px;
margin-left:80px;
margin-top: 50px;
}

.flex-str3 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	blue;
width: 1300px;
height:300px;

}

.flex-content3{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	orange;
width: 130px;
height:150px;
margin-left:80px;
margin-top: 50px;
}

.flex-str4 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
background:  	red;
width: 1300px;
height:300px;

}

.flex-content4{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	orange;
width: 650px;
height:300px;


}



.flex-str5 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
background:  	green;
width: 1300px;
height:300px;

}

.flex-str6 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
flex-direction: flex-start;
flex-wrap:wrap;
background:  	blue;
width: 1300px;
height:300px;

}

.flex-str6-1 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
flex-direction: flex-start;
flex-wrap:wrap;
background:  	yellow;
width: 1300px;
height:300px;

}

.flex-content6{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	gray;
width: 325px;
height:300px;

}


.flex-content6-1{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	aqua;
width: 325px;
height:300px;

}
.flex-str7 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
background:  	red;
width: 1300px;
height:300px;

}

.flex-str8 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	green;
width: 1300px;
height:300px;
position: relative;

}

.flex-content8{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	gray;
width: 250px;
height:150px;
position: absolute;
margin-top:50px;
 
margin-left:-150px;
}

.flex-str9 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	blue;
width: 1300px;
height:300px;


}

.flex-str10 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
background:  	red;
width: 1300px;
height:300px;

}

.flex-str11 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	green;
width: 1300px;
height:300px;

}

.flex-str12 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: flex-start;
background:  	blue;
width: 1300px;
height:300px;

}

.flex-str13 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
flex-wrap: wrap;
background:  	red;
width: 1300px;
height:300px;

}

.flex-content13{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	aqua;
width: 50px;
height:20px;
margin-left:25px;
margin-top:100px;
}

.flex-content14{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	yellow;
width: 50px;
height:20px;
margin-left:25px;
margin-top:10px;
}

.flex-str14 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	green;
width: 1300px;
height:300px;

}

.flex-str15 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	blue;
width: 1300px;
height:300px;

}

.flex-str16 {
display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;
justify-content: center;
background:  	red;
width: 1300px;
height:300px;

}

.flex-footer
{
	display: -webkit-flex; 
-webkit-justify-content: flex-start;
display: flex;

justify-content: flex-start;
background:  	yellow;
width: 1300px;
height:50px;
}